/* deklaring parameterclasses like the width and length for buttons and textfield*/

.register-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.register-full-width {
  width: 99%;
}

.register-half-width {
  width: 47%;
}

.register-full2-width {
  width: 72%;
}

.register-half2-width {
  width: 22%;
}

.button-row button,
.button-row a {
  /* margin for buttons*/
  margin-right: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 50px;
}

